@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 325 25% 96%;
    --foreground: 325 49% 20%;

    --card: 0 85.7143% 97.2549%;
    --card-foreground: 325 49% 20%;

    --popover: 325 25% 96%;
    --popover-foreground: 325 49% 20%;

    --primary: 0 84.2365% 60.1961%;
    --primary-foreground: 325 25% 96%;

    --secondary: 355 45% 91%;
    --secondary-foreground: 0 90.604% 70.7843%;

    --muted: 355 35% 91%;
    --muted-foreground: 325 9% 37%;

    --accent: 25 68% 88%;
    --accent-foreground: 25 68% 20%;

    --destructive: 0 76% 90%;
    --destructive-foreground: 0 63% 31%;

    --border: 355 25% 91%;
    --input: 355 25% 91%;
    --ring: 325 49% 11%;

    --radius: 1.5rem;

    /* Job status colors */
    --status-amber: 45 100% 51%;
    --status-light-green: 95 52% 59%;
    --status-dark-green: 142 100% 35%;

    --sidebar-background: 325 25% 96%;

    --sidebar-foreground: 325 49% 25%;

    --sidebar-primary: 325 49% 11%;

    --sidebar-primary-foreground: 325 25% 96%;

    --sidebar-accent: 355 45% 91%;

    --sidebar-accent-foreground: 325 49% 20%;

    --sidebar-border: 355 25% 91%;

    --sidebar-ring: 355 15% 75%;

    --chart-1: 325 58% 39%;

    --chart-2: 355 76% 61%;

    --chart-3: 25 37% 24%;

    --chart-4: 55 74% 66%;

    --chart-5: 85 87% 67%;

    --sidebar: 248 0.3% 98.4%;

    --font-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;

    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);

    --shadow-sm: 0px 1px 1.5px 0px hsl(216, 12%, 84%);

    --shadow: 0px 1px 3px 0px hsl(216, 12%, 84%);

    --shadow-md: 0px 1px 4.5px 0px hsl(216, 12%, 84%);

    --shadow-lg: 0px 1px 7.5px 0px hsl(216, 12%, 84%);

    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);

    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);

    --tracking-normal: 0em;

    --spacing: 0.25rem;
  }

  .dark {
    --background: 325 3% 14%;
    --foreground: 325 29% 70%;

    --card: 325 3% 11%;
    --card-foreground: 325 29% 70%;

    --popover: 325 3% 14%;
    --popover-foreground: 325 29% 70%;

    --primary: 325 29% 85%;
    --primary-foreground: 325 3% 14%;

    --secondary: 355 15% 18%;
    --secondary-foreground: 325 29% 70%;

    --muted: 355 10% 18%;
    --muted-foreground: 355 15% 75%;

    --accent: 25 28% 18%;
    --accent-foreground: 25 68% 70%;

    --destructive: 0 33% 20%;
    --destructive-foreground: 0 91% 71%;

    --border: 355 10% 18%;
    --input: 355 5% 25%;
    --ring: 355 15% 83%;
    --sidebar-background: 325 3% 14%;
    --sidebar-foreground: 355 45% 95%;
    --sidebar-primary: 25 68% 55%;
    --sidebar-primary-foreground: 325 29% 70%;
    --sidebar-accent: 355 10% 18%;
    --sidebar-accent-foreground: 355 45% 95%;
    --sidebar-border: 355 10% 18%;
    --sidebar-ring: 355 15% 83%;
    --chart-1: 325 70% 50%;
    --chart-2: 85 75% 55%;
    --chart-3: 355 80% 55%;
    --chart-4: 245 65% 60%;
    --chart-5: 125 60% 45%;
    --sidebar: 266 4% 20.8%;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}